@import "presentation/styles/colors";

.contenerdor-product{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}

.title{
    width: 65%;
}

.card-link{
    cursor: pointer;
}

.blu{
    color: $color-primary;
  }

  .active {
    color: $color-primary !important;
}
  