<footer>
    <div class="footer mt-2">
       <div class="container-fluid">
          <div class="row">
             <div class="col-md-8 offset-md-2">
                <ul class="location_icon">
                   <li><a routerLink="/contactus" href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a><br> Locación</li>
                   <li><a href="https://wa.me/573022903256" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a><br> +57 3022903256</li>
                   <li><a href="mailto:zulmita1208@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a><br>zulmita1208@gmail.com</li>
                   <li><a href="https://www.instagram.com/zulzanaya08/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a><br>Instagram</li>
                </ul>
             </div>
          </div>
       </div>
   
    </div>
 </footer>