<div id="about" class="shop">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-5">
             <div  class="shop_img">
                <figure><img src="presentation/assets/logo.jpg" alt="#"/></figure>
             </div>
          </div>
          <div class="col-md-7 padding_right0">
             <div class="max_width">
                <div class="titlepage">
                   <h2>PhoneShop</h2>
                   <p>
                     En nuestra empresa, nos dedicamos apasionadamente a ofrecer la última tecnología en dispositivos móviles para mantenerte conectado de manera más inteligente y eficiente. Desde innovadores smartphones con funciones avanzadas hasta opciones asequibles sin comprometer la calidad, nuestra colección de celulares está diseñada para satisfacer todas tus necesidades y superar tus expectativas. Nos enorgullece proporcionar dispositivos que no solo destacan en rendimiento y funcionalidad, sino también en diseño elegante. Descubre el mundo de posibilidades que ofrecemos y encuentra el compañero perfecto para tu estilo de vida digital en nuestra selección de teléfonos móviles de alta calidad.
                   </p>
                   <button class="read_more" routerLink="/products" href="#">Pide tu producto ahora</button>
                   
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>