<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img class="img_logo" src="presentation/assets/logo.jpg" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-dark text-dark" routerLink="/home" routerLinkActive="active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" routerLink="/products" routerLinkActive="active" href="#">Catálogo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" routerLink="/about" routerLinkActive="active" href="#">Sobre nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" routerLink="/contactus" routerLinkActive="active" href="#">Contáctanos</a>
        </li>

        <li class="nav-item dropstart">
          <a class="nav-link" routerLink="/products/details" href="#">
            <span class="badge rounded-pill bg-danger">
              Cart
              <i class="fa fa-shopping-cart"></i>
              {{ (shopping$ | async)?.length }}
            </span>
          </a>
          
          
        </li>
      </ul>

     
    
    </div>
  </div>
</nav>